.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
}

.sequo_img1 {
    position: relative;
    top: -9px;
    left: -28px;

}

.menu {
    align-self: center;
    position: relative;
    top: 10px;
    left: -23px;

}

.menu_link {
    padding: 0px 10px;
    font-size: 16pt;

    font-family: Open Sans;
    color: #bbaea9;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.color {
    color: #1eb0b8;
}

.menu_link1_1 {
    padding: 0px 10px;
    font-family: Open Sans;
    color: #1eb0b8;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.menu_link1 {
    padding: 0px 10px;
    font-family: Open Sans;
    color: #bbaea9;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.menu_link:hover {
    color: #1eb0b8;

}

.menu_separator {
    border-left: thin solid #ded8d5;
}

.div_img_doc {
    width: 100%;
}

.img_doc {
    width: 100%;
}

.text_img_doc {
    color: #ffffff;
    font-family: Open Sans;
    font-size: 38pt;
    font-weight: bold;
    position: absolute;
    top: 115px;
    left: 287px;
}

.part2 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;

    justify-content: center;
    background-color: #f8f7f6;
    height: 500px;
}

.menu_part2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 45px;
    border: thin solid #bcaeaa;
    max-width: 250px;
    height: 330px;
    background-color: #ffffff;

}

.parg1 {
    display: flex;
    position: relative;
    top: 30px;
    font-size: 25px;
}

.parg2 {
    display: flex;

    position: relative;
    top: -30px;
    font-size: 25px;

}

.hr1 {
    font-size: 1px;
    color: #bcaeaa;
    width: 191px;
    display: flex;
    position: relative;
    top: -8px;
}

.part2_1 {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    position: relative;
    height: 450px;

}

.btn_moredetails {
    color: #ffffff;
    font-family: Open Sans;
    background: #1eb0b8;
    width: 120px;
    display: flex;
    font-weight: bold;
    position: relative;
    margin-left: 110px;
    cursor: pointer;
    -moz-box-shadow: 1px 1px 3px 0px #656565;
    -webkit-box-shadow: 1px 1px 3px 0px #656565;
    -o-box-shadow: 1px 1px 3px 0px #656565;
    box-shadow: 1px 1px 3px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=3);
}

.btn_moredetails:hover {
    -moz-box-shadow: 3px 3px 7px 0px #656565;
    -webkit-box-shadow: 3px 3px 7px 0px #656565;
    -o-box-shadow: 3px 3px 7px 0px #656565;
    box-shadow: 3px 3px 7px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=7);
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

.part3 {
    background: #1eb0b8;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    color: #ffffff;
    font-family: Open Sans;
    font-weight: bold;
    text-align: center;
}

.p1_part3 {
    margin-bottom: 10px;
    position: relative;
    left: 22px;
    font-size: 24pt;
}

.p2_part3 {
    font-size: 21.5px;
    position: relative;
    left: 19px;
    top: -9px;
}

.part4 {
    background: #8acbd0;
    display: flex;
    width: 100%;
    height: 430px;
    flex-direction: row;
    justify-content: center;
}

.part4_1 {
    position: relative;
    margin-top: 45px;
}

.parg1_1 {
    font-size: 20px;
}

.part4_2 {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: thin solid #bcaeaa;
    height: 301px;
    background-color: #ffffff;

}

.part4_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 45px;
    margin-left: 50px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    height: 301px;
    background-color: #bcaeaa;
}

.parg4_1 {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 25px;
    color: #1eb0b8;
    font-family: Open Sans;
    font-weight: bold;
    text-align: center;
}

.parg4_2 {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 25px;
    font-family: Open Sans;
    color: #bbaea9;
    font-weight: bold;
    text-align: center;
}

.parg4_3 {
    font-family: Open Sans;
    font-weight: bold;
    text-align: center;
    color: white;
    position: relative;
    top: -4px;
}

.parg4_4 {
    justify-content: center;
    color: white;
}

.read_more {
    margin-left: -30px;
    margin-top: 25px;
    font-family: Open Sans;
    background: #bcaeaa;
    width: 118px;
    font-weight: bold;
    cursor: pointer;
    -moz-box-shadow: 1px 1px 3px 0px #656565;
    -webkit-box-shadow: 1px 1px 3px 0px #656565;
    -o-box-shadow: 1px 1px 3px 0px #656565;
    box-shadow: 1px 1px 3px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=3);
}

.read_more:hover {
    -moz-box-shadow: 3px 3px 7px 0px #656565;
    -webkit-box-shadow: 3px 3px 7px 0px #656565;
    -o-box-shadow: 3px 3px 7px 0px #656565;
    box-shadow: 3px 3px 7px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=7);
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

.read_more_a {
    padding: 0px 10px;
    color: #fff;

    text-decoration: none;
    text-align: center;
}

.part5 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    position: relative;
    padding-top: 30px;

}

.part5_1 {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
}

.menu_part5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border: thin solid #bcaeaa;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 540px;
    background-color: #ffffff;
    font-family: Open Sans;
}

.parg5_1 {
    display: flex;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #1eb0b8;
    font-family: Open Sans;
    font-weight: bold;
    text-align: center;
}

.parg5_2 {
    display: flex;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-family: Open Sans;
    color: #bbaea9;
    font-weight: bold;
    text-align: center;
}

.parg5_3 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
}

.parg5_4 {
    background-color: #f8f7f6;
    padding-top: 15px;
    padding-bottom: 15px;
}

.parg5_4_1 {
    color: #1eb0b8;
    font-family: Open Sans;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 0px;
}

.parg5_4_2 {
    font-family: Open Sans;
    color: #bbaea9;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin: 0px;
}

.hr2 {
    font-size: 1px;
    color: #bcaeaa;
    width: 265px;
    display: flex;

}

.btn_read_more {
    color: #ffffff;
    font-family: Open Sans;
    background: #1eb0b8;
    font-weight: bold;
    cursor: pointer;
    -moz-box-shadow: 1px 1px 3px 0px #656565;
    -webkit-box-shadow: 1px 1px 3px 0px #656565;
    -o-box-shadow: 1px 1px 3px 0px #656565;
    box-shadow: 1px 1px 3px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=3);
}

.btn_read_more:hover {
    -moz-box-shadow: 3px 3px 7px 0px #656565;
    -webkit-box-shadow: 3px 3px 7px 0px #656565;
    -o-box-shadow: 3px 3px 7px 0px #656565;
    box-shadow: 3px 3px 7px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=7);
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

.part6 {

    background: #bcaeaa;
    padding: 10px 0px;
    color: #ffffff;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.img6 {
    width: 100%;

}

.part8 {
    background-color: #bcaeaa;
    background-color: #bcaeaa;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;

    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.read_more_p8 {
    align-self: center;
    font-family: Open Sans;
    background: #1eb0b8;
    width: 118px;
    font-weight: bold;
    cursor: pointer;
    -moz-box-shadow: 1px 1px 3px 0px #656565;
    -webkit-box-shadow: 1px 1px 3px 0px #656565;
    -o-box-shadow: 1px 1px 3px 0px #656565;
    box-shadow: 1px 1px 3px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=3);
}

.read_more_p8:hover {
    -moz-box-shadow: 3px 3px 7px 0px #656565;
    -webkit-box-shadow: 3px 3px 7px 0px #656565;
    -o-box-shadow: 3px 3px 7px 0px #656565;
    box-shadow: 3px 3px 7px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=7);
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

.read_more_p8_a {
    padding: 0px 10px;
    color: #fff;

    text-decoration: none;
    text-align: center;
}

.parg1_b1 {

    display: flex;

    font-size: 19px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.parg1_b2 {
    display: flex;

    font-size: 18px;
    margin-top: 20px;
}

.b1 {

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 20px;
    border: thin solid #bcaeaa;
    max-width: 250px;
    height: 320px;
    background-color: #ffffff;
    padding-bottom: 20px;
}

.part9 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;

    justify-content: center;
    height: 500px;
}

.menu_part9 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 45px;
    border: thin solid #bcaeaa;
    max-width: 300px;
    height: 350px;
    background-color: #ffffff;
}

.parg2_9 {
    display: flex;
    position: relative;
    top: -30px;
    font-size: 18px;
}

.part10 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    background-color: #f2efee;
    justify-content: center;
    height: 500px;
}

.menu_part10 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 45px;
    border: thin solid #bcaeaa;
    max-width: 260px;
    height: 350px;
    background-color: #ffffff;
}

.part11 {

    background: #8acbd0;
    padding: 10px 0px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.part12 {
    height: 200px;

    background: rgba(172, 218, 222, 1);
    background: -moz-linear-gradient(left, rgba(172, 218, 222, 1) 0%, rgba(172, 218, 222, 1) 8%, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 80%, rgba(172, 218, 222, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(172, 218, 222, 1)), color-stop(8%, rgba(172, 218, 222, 1)), color-stop(22%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(255, 255, 255, 1)), color-stop(80%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(172, 218, 222, 1)));
    background: -webkit-linear-gradient(left, rgba(172, 218, 222, 1) 0%, rgba(172, 218, 222, 1) 8%, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 80%, rgba(172, 218, 222, 1) 100%);
    background: -o-linear-gradient(left, rgba(172, 218, 222, 1) 0%, rgba(172, 218, 222, 1) 8%, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 80%, rgba(172, 218, 222, 1) 100%);
    background: -ms-linear-gradient(left, rgba(172, 218, 222, 1) 0%, rgba(172, 218, 222, 1) 8%, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 80%, rgba(172, 218, 222, 1) 100%);
    background: linear-gradient(to right, rgba(172, 218, 222, 1) 0%, rgba(172, 218, 222, 1) 8%, rgba(255, 255, 255, 1) 22%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 80%, rgba(172, 218, 222, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#acdade', endColorstr='#acdade', GradientType=1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 0 420px;
    align-items: center;
}

.part12_1 {
    color: #1eb0b8;
    background-color: #ffffff;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    -moz-box-shadow: 1px 1px 10px 3px #d6d6d6;
    -webkit-box-shadow: 1px 1px 10px 3px #d6d6d6;
    -o-box-shadow: 1px 1px 10px 3px #d6d6d6;
    box-shadow: 1px 1px 10px 3px #d6d6d6;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#d6d6d6, Direction=134, Strength=10);

    width: 160px;
    height: 100px;
}

.part13 {
    background: #8acbd0;
    height: 50px;
    padding: 10px 0px;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.width {
    width: 95px;
}

.read_more_p13 {
    align-self: center;
    color: #ffffff;
    font-family: Open Sans;
    background: #bcaeaa;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    -moz-box-shadow: 1px 1px 3px 0px #656565;
    -webkit-box-shadow: 1px 1px 3px 0px #656565;
    -o-box-shadow: 1px 1px 3px 0px #656565;
    box-shadow: 1px 1px 3px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=3);
}

.read_more_p13:hover {
    -moz-box-shadow: 3px 3px 7px 0px #656565;
    -webkit-box-shadow: 3px 3px 7px 0px #656565;
    -o-box-shadow: 3px 3px 7px 0px #656565;
    box-shadow: 3px 3px 7px 0px #656565;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=7);
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

.part14 {
    height: 110px;
    background-color: #1eb0b8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu_link14 {
    padding: 0px 10px;
    font-family: Open Sans;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.menu_separator14 {
    border-left: thin solid #adaeac;
}

